/* google font  */
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Neucha&family=Nunito:wght@500&family=Poppins:wght@500&display=swap');

body {
    font-family: 'Lato', sans-serif;
    font-family: 'Neucha', cursive;
    font-family: 'Nunito', sans-serif;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.container {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 50px;
    /* border: 1px red solid; */

}

.top-banner {
    margin-top: 30px;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
    border-radius: 20px;
    padding: 10px 0 0 50px;
    background-color: rgb(2, 26, 59);
    gap: 30px;
}

.half-width {
    width: 50%;
}

.top-banner-title {
    margin: 0;
    font-size: 3.5vw;
    font-weight: 700;
}

.top-banner-description {
    font-size: 1.5vw;
}

.button-primary {
    text-decoration: none;
    background-color: brown;
    padding: 10px;
    border-radius: 5px;
    color: white;
    text-align: center;
    font-size: 1.5vw;
}

.top-image-right img {
    width: 90%;
    object-fit: cover;
}



.button-primary i {
    margin-left: 10px;
    align-self: end;
}


/* main section  */
.main-section {
    display: flex;
    gap: 10px;
}

.main-left {
    min-width: 275px;
    height: 200px;
    background-color: rgb(2, 26, 59);
    border-radius: 10px;
    padding: 20px 0;

}

#blog-button {
    background-color: orangered;
    color: white;
}


.main-left-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    /* border: 1px white solid; */
    margin: auto 0;
    gap: 20px;
}

.main-left-link a {
    width: 175px;
    text-decoration: none;
    background-color: aliceblue;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    color: rgb(2, 26, 59);
}



.main-right {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.main-right-inner {
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(243, 243, 251);
    border-radius: 5px;
}

.main-right-inner img {
    width: 100%;
}

.main-right-inner-description {
    padding: 20px;
}

.transfer-button {
    text-decoration: none;
    border: 1px solid rgb(179, 179, 179);
    border-radius: 5px;
    padding: 5px 20px;
    color: #161616;


}

.time-comment span {
    margin-right: 30px;
}

.time-comment-icon {
    margin-right: 10px;
}

/* for match page */

#upcoming-match-button {
    background-color: orangered;
    color: white;
}



.main-right-match {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin: 0 auto;
}

.main-right-inner-match {
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(243, 243, 251);
    border-radius: 5px;
    justify-content: center;
    align-items: center;

}

.main-right-inner-flag {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.main-right-inner-flag img {
    width: 100%;
}

.country-name {
    font-size: 1.5vw;
    color: #161616;
    font-weight: 600;
    margin: 20px 0 10px 0;

}

.match-date {
    font-size: 1.2vw;
    color: #4D4D4D;
    font-weight: 400;
    margin: 0;


}

/* view all button */
.view-all-button-main {
    text-align: center;
}

.button-view-all {
    /* visibility: hidden; */
    display: none;
    align-self: center;
    text-decoration: none;
    color: white;
    background-color: tomato;
    padding: 10px 20px;
    border-radius: 5px;

}



/* footer styles  */
.footer-section {
    background-color: rgb(2, 26, 59);
    padding: 100px 0;
}

.footer-section h1 {
    text-align: center;
    color: rgb(246, 83, 23);
}

.footer-line {
    border: 1px solid rgba(255, 255, 255, 0.1);
    margin: 50px 140px;
}

.footer-link {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;

}

.footer-link a {
    text-decoration: none;
    color: slategray;
}

.social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.facebook {
    font-size: 24px;
    color: #0371E5;
    background-color: #021A3B;

}

.twitter {
    font-size: 24px;
    color: #0F9AFB;
    background-color: #021A3B;

}

.linkedin {
    font-size: 24px;
    color: #E9E9EA;
    background-color: #021A3B;

}

.github {
    font-size: 24px;
    color: white;
    background-color: #021A3B;

}


/* media queries  */

@media only screen and (min-width: 668px) and (max-width: 992px) {
    .main-section {
        flex-direction: column;
    }

    .main-left {
        height: fit-content;
        background-color: white;

    }

    .main-left-link {
        flex-direction: row;
    }

    .main-right {
        grid-template-columns: repeat(2, 1fr);
    }

    .main-right-match {
        grid-template-columns: repeat(2, 1fr);

    }

    .button-view-all {
        display: inline-block;


    }

    .footer-section {
        padding: 50px 0;
    }

    .footer-link {
        gap: 10px;

    }


}

@media only screen and (max-width: 668px) {

    .top-banner {
        flex-direction: column;
        margin-top: 10px;

        border-radius: 10px;
        padding: 20px;
        background-color: rgb(2, 26, 59);
        gap: 30px;

    }

    .half-width {
        width: 100%;
        text-align: center;
    }

    .main-section {
        flex-direction: column;
    }

    .main-left {
        height: fit-content;
        background-color: white;

    }

    .main-left-link {
        flex-direction: column;
    }

    .main-right {
        grid-template-columns: repeat(1, 1fr);
    }

    .main-right-match {
        grid-template-columns: repeat(1, 1fr);

    }

    .button-view-all {
        display: none;


    }

    .footer-section {
        padding: 50px 0;
    }


    .footer-link {
        flex-direction: column;

    }


}